body {
  font-size: .875rem;
}

/* Sidebar */

.sidebar {
  position: fixed;
  top: 1rem;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  width: 12rem;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  /* background: linear-gradient(to bottom, #555, #333); */
  background-color: #212529;
  transition: width 0.3s;
}

.sidebar:hover {
  width: 14rem;
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  font-weight: 500;
  transition: background-color 0.3s;
}

.sidebar .nav-link.active {
  border-left: solid 4px orange;
  background-color: #000;
}

.sidebar .nav-link:hover {
  background-color: #333;
}

.sidebar-heading {
  font-size: .75rem;
  color: #999;
}

.sidebar a {
  text-decoration: none;
  display: block;
  padding: 20px 15px;
  font-weight: 500;
  color: #fff;
  transition: color 0.3s;
}

.sidebar a:hover {
  color: #fca311;
}


/* Navbar */

.navbar {
  background: linear-gradient(to bottom, #212529, #212529);
  /* background-color: #212529; */
}

.navbar-brand {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
}

.form-control-dark:focus {
  border-color: transparent;
}

.dropdown-menu.show {
  position: absolute;
  will-change: transform;
  top: 100%;
  transform: translate3d(0, 0, 0);
}

/* new */
.dropdown-toggle { outline: 0; }
  
  .btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #d2f4ea;
  }
  
  .scrollarea {
    overflow-y: auto;
  }

/* Card */

.card-data {
  border: solid 1px;
  padding: 20px 50px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
}

.card-data.book {
  background-color: darkcyan;
  border-radius: 1rem;
}

.card-data.transaction {
  background-color: chocolate;
  border-radius: 1rem;
}

.card-data.user {
  background-color: rgb(175, 9, 98);
  border-radius: 1rem;
}

.card-data i {
  font-size: 80px;
}

.card-desc {
  font-size: 30px;
  font-weight: 500;
}

.card-desc a {
  text-decoration: none;
  color: #fff;
}

.card-des a{
  font-size: 27px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.card-des a:hover{
  color: #000;
}

.card-desc a:hover {
  color: #000;
}

.card-count {
  font-size: 30px;
  font-weight: 500;
}

.card-book :hover{
  background-color:#e9ecef;
}

.btn.btn-success:hover {
  background-color: lightgreen;
}

.btn.btn-danger:hover {
  background-color: lightpink;
}

    .bintang {
        display: flex;
        gap: 10px; /* Jarak antara bintang-bintang */
        align-items: center; /* Mengatur bintang-bintang di tengah vertikal */
    }

    .bintang svg {
        width: 25px;
        height: 25px;
        fill: lightgrey; /* Warna default untuk bintang */
        cursor: pointer; /* Ubah kursor saat mengarahkan ke bintang */
    }

    .bintang svg.gold {
        fill: gold; /* Warna saat diklik */
    }

    .comment-avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
  }
  
  .comment-box {
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 15px;
  }
  
  .comment-box h5 {
      font-size: 16px;
      margin: 0;
  }
  
  .comment-box p {
      font-size: 14px;
      margin-top: 5px;
  }

  .media {
    border: 1px solid white; 
    /* background-color: #F8F9FA; */
  }

